.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top:  18px;
}

.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    justify-content: center;
}

.header_searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 75%;
    /* margin: 0px 99px; */
    border-radius: 4px 0px 0px 4px;
}

.header_searchIcon{
    padding:  5px;
    height: 22px !important;
    background-color: #cd9042;
    border-radius: 0px 4px 4px 0px;
}

.header_option1{
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
}

.header_option2{
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}

.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 20px;
    color: white;
}


.header_optionBasket{
    display: flex;
    align-items: center;
    color: white;
}

.header_basketCount{
    margin-left: 10px;
    margin-right: 10px;
}