.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 3px 16px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  transition: 1s ease;
}
  .product:hover{
  
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s ease;
  
  }

.product__rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  border-radius: 5px;
  padding: 2px 32px;
  cursor: pointer;
}

.btn3 {
  transition: all300ms ease;
  border-radius: 20px;
}

.btn3:hover {
  box-shadow: rgba(83, 83, 92, 0.25) 0px 30px 60px -12px inset,
    rgba(110, 98, 98, 0.3) 0px 18px 36px -18px inset;
}
.btn3:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}


.noty__container{
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  padding: 5px;
}

.noty__container>img{
  max-height: 60px;
  width:60px;
  object-fit: contain;
  margin-bottom: 15px;
  margin-right: 5px;

}
.noty_type__success{
  background: rgb(231 234 234) !important;
  color:black !important;

}

.noty_bar{
  border-radius: 10px !important;
}

#noty_layout__topRight{
  top:70px !important;
}
